@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rajdhani: 'Rajdhani', sans-serif;
}

:root {
 
    --color-primary: #00F0FF;
    --color-accent: #FF00F7;
    --color-secondary: #fabe25;
    --color-surface: #121212;
    --color-error: #ff0033;
    --color-disabled: #3A3A3A;
    --color-background: #0A0A0A;
    --color-background-second: #111827;
    --color-border: #2C2C2C;
    --color-light: #ffffff;
    --light-text: #ffffff;
    --muted-text: #bdbdbd;
}
.muted-text
{
  color: var(--muted-text);
}

.text-light
{
  color: #ffffff;
}

.gradient-text {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

@media (prefers-color-scheme: dark) {

}

body {
  background-color: var(--color-background);
}

nav [data-active = ""] [name="/"] {
  color: var(--color-secondary);
}

nav [data-active = "user-dashboard"] [name="user-dashboard"] {
  color: var(--color-secondary);
}

nav [data-active = "words"] [name="words"] {
  color: var(--color-secondary);
}

nav [data-active = "settings"] [name="settings"] {
  color: var(--color-secondary);
}
/* Components*/

.btn-primary{
  color: var(--color-background);
  background-color: var(--color-primary);
}

.btn-accent
{
  color: var(--color-background);
  background-color: var(--color-accent);
}

.btn-danger
{
  color: var(--color-background);
  background-color: var(--color-error);
}

.btn-danger-empty {
  color: var(--color-error);
  background-color: transparent;
  border: 1px solid var(--color-error);
}

.btn-primary-empty {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.btn-accent-empty {
  color: var(--color-accent);
  background-color: transparent;
  border: 1px solid var(--color-accent);
}

.btn-back-gradient {
  color: var(--color-background);
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
}

.btn-back-gradient-empty {
    border: 1px solid transparent;
    background: 
    linear-gradient(var(--color-surface)) padding-box, /* The top layer is a solid color clipped to the inside */
    linear-gradient(90deg, var(--color-primary), var(--color-accent)) border-box; /* The bottom layer is the gradient for the border */
  
  /* Clip the backgrounds as needed */
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.btn-back-gradient-empty>span {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

.btn-text-gradient
{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.02));
  border: 1px solid rgba(255, 255, 255, 0.03);
}
.btn-text-gradient>span, .btn-text-gradient {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

.card
{
  background: var(--color-surface);
  box-shadow:0 0 20px rgba(0,240,255,0.3)
}

.log-in-container
{
  border: 1px solid rgba(255,255,255,0.04);
  box-shadow: 0 8px 28px rgba(0,0,0,0.6);
}

.focus-secondary:focus, .focus-secondary:focus-visible {
  border: 1px solid var(--color-secondary);
  box-shadow: 0 0 2px 2px rgba(250, 190, 37, .2);
  outline: none;
}