@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
 
    --color-primary: #00F0FF;
    --color-accent: #FF00F7;
    --color-surface: #121212;
    --color-background: #0A0A0A;
    --color-background-second: #111827;
    --color-border: #2C2C2C;
    --color-light: #ffffff;
    --light-text: #ffffff;
}

.text-light
{
  color: #ffffff;
}

.gradient-text {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

@media (prefers-color-scheme: dark) {

}

body {
  background-color: var(--color-background);
}

/* Components*/

.btn-primary{
  color: var(--color-background);
  background-color: var(--color-primary);
}

.btn-accent
{
  color: var(--color-background);
  background-color: var(--color-accent);
}

.card
{
  background: var(--color-surface);
  box-shadow:0 0 20px rgba(0,240,255,0.3)
}